#container {
    display: grid;
    grid-template-columns: 50% 30% auto;
    grid-template-rows: 50% auto;
}

.item {
    width: 100px;
    height: 100px;
    background-color: rgb(93, 196, 93);
    margin: 10px;
}